/*
The ::after selector inserts something after the content of each selected element(s).
Use the content property to specify the content to insert.
Use the ::before selector to insert something before the content
*/
*,*::after, *::before{
    box-sizing:border-box;
}

/* ':root' find the root elemnt and we can assign variables */
:root {
    --cell-size:100px;  /*create variable in root element*/
    --mark-size: calc(var(--cell-size)*0.9); /*calculate size of marks*/
}

body{
    margin:0;
}

.board{
    width:100vw;  /* spread div on all width of screen*/
    height:100vh; /* spread div on all height of screen*/
    display:grid;
    justify-content:center; /*  */
    align-content: center;
    grid-template-columns:repeat(3,auto);
    /* for items inside grid boxes*/
    justify-items:center;
    align-items:center;
}
.cell{
    border: 1px solid red;
    width:var(--cell-size);
    height:var(--cell-size);
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    cursor:pointer;
    
   
}

/* Delete the top borders */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top:none;
}

/* Delete the left borders of 1, 4,7 cells */
.cell:nth-child(3n+1){
    border-left:none;
}

/* Delete the right borders of 3, 6,9 cells */
.cell:nth-child(3n+3){
    border-right:none;
}

/* Delete the bottom-borders */
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
    border-bottom:none;
}

.cell.x,
.cell.circle{
    cursor:not-allowed;
}
.cell.x::before,
.cell.x::after,
.cell.circle::before,
.cell.circle::after
{
        background-color: black;
    }



/* if we have class= "x" in div with class="border" and when we hover to the cell */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after
{
    background-color: lightgray;
}



.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,/* whernever we hover on cell (wnen X turn) we apply this*/
.board.x .cell:not(.x):not(.circle):hover::after /*not(.x):not(.circle) not applied to cell with these classes*/
{
    content:'';
    width:calc(var(--mark-size)*.15);
    height:var(--mark-size);
    position:absolute;
    
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before
{
    transform:rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after
{
    transform:rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after
{
    content:'';
    position:absolute;
    border-radius:50%;
   
    
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
    width:var(--mark-size);
    height:var(--mark-size);
   
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
    width:calc(var(--mark-size)*0.7);
    height:calc(var(--mark-size)*0.7);
    background-color: white;
}

.winning-message{
    display:none;
    position:fixed;
    top:0;
    right:0;

    left:0;
    bottom:0;
    background-color: rgba(0, 0, 0,.9);
    /* positioning button*/
    
    justify-content: center;
    align-items:center;
    color:white;
    font-size: 5rem;
    flex-direction: column;
}
.winning-message button{
    font-size:3rem;
    background-color: white;
    border: 1px solid black;
    padding:0.25rem 0.5rem;
    cursor:pointer;
}

.winning-message button:hover{
    background-color: black;
    color:white;
    border-color:white;
}

/*  class="show" in div with class="winning-message" then ouer win massage apears */
/* <div class="winning-message show" id="winningMessage"> */
winning-message.show{
    display:flex;
}